<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cui.demo.mapper.UserEsMapper">
    <insert id="insertData" parameterType="java.util.List">
        insert into user_es(user_name,real_name, password, role_id, img_url, province, city, address, telphone, email, create_time, update_time)
        values
        <foreach collection="list" item="userEs" separator=",">
        (#{userEs.user_name},#{userEs.real_name}, #{userEs.password}, #{userEs.role_id}, #{userEs.img_url}, #{userEs.province}, #{userEs.city}, #{userEs.address}, #{userEs.telphone}, #{userEs.email}, #{userEs.create_time}, #{userEs.update_time})
        </foreach>
    </insert>
</mapper>